.page-top.animated.fadeInDown
  .nav
    li
      if is_home()
        a.current(href="/")= __('首頁')					
      else
        a(href="/")= __('首頁')	
    li
      if is_current('categories')
        a.current(href="/categories")=__('分類')
      else
        a(href="/categories")=__('分類')
    li
      if is_current('prattle')
        a.current(href="/prattle")=__('雜談')
      else
        a(href="/prattle")=__('雜談')
    li
      if is_current('about')
        a.current(href="/about")= __('關於')			
      else
        a(href="/about")= __('關於')
    li
      if is_archive()
        a.current(href="/archives")= __('歸檔')
      else
        a(href="/archives")= __('歸檔')
    li
      if is_current('links')
        a.current(href="/links")= __('友鏈')					
      else
        a(href="/links")= __('友鏈')		
  .information
    .back_btn
      li
        if is_post()
          a.fa.fa-chevron-left(onclick="window.history.go(-1)") 
        else
          a.fa.fa-chevron-left(onclick="window.history.go(-1)",style="display:none;") 
    .avatar
      img(src=theme.avatar)
